<!-- ReservationCreate.razor -->
@page "/reservations/create"
@using Airbnb.Domain.Entities;
@using Airbnb.Blazor.Interfaces;
@inject IReservationApiService ReservationApiService
@inject NavigationManager NavigationManager

<h3>Create Reservation</h3>

<form>
    <div class="form-group">
        <label for="renter_id">Renter ID:</label>
        <input type="text" class="form-control" id="renter_id" @bind="newReservation.renter_id" />
    </div>
    <div class="form-group">
        <label for="start_date">Start Date:</label>
        <input type="text" class="form-control" id="start_date" @bind="newReservation.start_date" />
    </div>
    <div class="form-group">
        <label for="end_date">End Date:</label>
        <input type="text" class="form-control" id="end_date" @bind="newReservation.end_date" />
    </div>
    <div class="form-group">
        <label for="room_id">Room ID:</label>
        <input type="text" class="form-control" id="room_id" @bind="newReservation.room_id" />
    </div>
    <div class="form-group">
        <label for="total">Total:</label>
        <input type="text" class="form-control" id="total" @bind="newReservation.total" />
    </div>
    <div class="form-group">
        <label for="unit_price">Unit Price:</label>
        <input type="text" class="form-control" id="unit_price" @bind="newReservation.unit_price" />
    </div>
    <div class="form-group">
        <label for="owner_id">Owner ID:</label>
        <input type="text" class="form-control" id="owner_id" @bind="newReservation.owner_id" />
    </div>

    <button type="button" class="btn btn-primary" @onclick="CreateReservation">Create</button>
</form>

@code {
    private Reservation newReservation = new Reservation();

    private async Task CreateReservation()
    {
        await ReservationApiService.CreateReservation(newReservation);
        NavigationManager.NavigateTo("/reservations"); // Navigate back to the reservation list page after creating
    }
}
